.assignment-input {
    border: none;
    font-size: 0.9vw;
    width: 100%;
    text-align: center;
    transition: all 0.05s ease 0s;
}

.points-earned-input {
    text-align: center;
    border: none;
    width: 4ch;
    font-size: 0.9vw;
    transition: all 0.2s ease 0s;
}

.points-possible-input {
    text-align: center;
    border: none;
    width: 4ch;
    font-size: 0.9vw;
    transition: all 0.2s ease 0s;
}

tr {
    border-bottom: 0.1vw solid #DFEAF5;
}

.data {
    padding-top: 0.75vw;
    padding-bottom: 0.75vw;
}

/* .assignment-input:hover, .points-earned-input:hover, .points-possible-input:hover {
    border: solid 0.1vw #99B0C6;
} */