.assignment-input {
    border: none;
    font-size: 0.8vw;
    width: 90%;
    padding: 0 5% 0 5%;
    text-align: center;
    transition: all 0.05s ease 0s;
}

.points-earned-input {
    text-align: center;
    border: none;
    width: 50%;
    font-size: 0.8vw;
    transition: all 0.2s ease 0s;
}

.points-possible-input {
    text-align: center;
    border: none;
    width: 50%;
    font-size: 0.8vw;
    transition: all 0.2s ease 0s;
}

tr {
    border-bottom: 0.1vw solid #DFEAF5;
}

.data {
    padding-top: 0.6vw;
    padding-bottom: 0.6vw;
}

.assignment-input:hover, .points-earned-input:hover, .points-possible-input:hover {
    background-color: #E7EFF7;
}