.blurb {
    background-color: #FFFFFF;
    box-shadow: 0.3rem 0.3rem #CCCFD1;
    display: inline-block;
    border-radius: 1rem;
}

.blurb-text {
    font-size: 1.25rem;
    width: 40rem;
    line-height: 2.2rem;
    text-align: center;
}

#signin-blurb {
    padding: 2.5rem;
}

#signin-blurb-text {
    margin: 0 0 2rem 0;
}

#message-blurb {
    padding: 0.75rem;
    margin-top: 10rem;
}