button {
    font: inherit;
    cursor: pointer;
    outline: none;
    color: #FFFFFF;
    transition: all 0.2s ease-in-out;
}

#sign_in {
    background-color: #36DEA3;
    border: none;
    border-radius: 0.5vw;
    width: 11vw;
    height: 2.6vw;
    font-size: 1vw;
}

#sign_out {
    background-color: #DE3643;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    border: none;
    border-radius: 0.5vw;
    width: 11vw;
    height: 2.6vw;
    font-size: 1vw;
}

#sign_out:hover {
    transform: translateY(-2px);
}

/* TODO */
.add_class_weight {
    background-color: #29A0FF;
    border: none;
    border-radius: 0.5vw;
    width: 13vw;
    height: 2.6vw;
    font-size: 1vw;
    display: block;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
}

.add_class_weight:hover {
    transform: translateY(-1px);
}

.add_class {
    background-color: #36DEA3;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    border: none;
    border-radius: 0.5vw;
    width: 11vw;
    height: 2.6vw;
    font-size: 1vw;
}

.add_class:hover {
    cursor: pointer;
    transform: translateY(-2px);
}

.delete_button {
    background: none;
    border: none;
    cursor: pointer;
    color: #718CA5;
    transition: all 0.2s ease 0s;
}

.delete_button:hover {
    background-color: #DE3643;
    color: white;
    border-radius: 1000vw;   
}

#exit_button {
    padding: 0 0.8vw 0 0.8vw;
    border-radius: 100%;
    font-size: 1.1vw;
    transition: all 0.2s ease 0s;
}

#exit_button:hover {
    background-color: #E7EFF7;
}

.deleteWeightButton {
    background-color: #DE3643;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    border: none;
    border-radius: 0.3vw;
    padding: 0.25vw 0.8vw 0.25vw 0.8vw;
    float: right;
    transition: all 0.2s ease 0s;
}

.deleteWeightButton:hover {
    transform: translateY(-1px);
}