button {
    font: inherit;
    cursor: pointer;
    outline: none;
    color: #FFFFFF;
}

#sign_in {
    background-color: #36DEA3;
    border-color: #33CB95;
    border-style: solid;
    border-width: 0.15vw;
    border-radius: 0.5vw;
    width: 11vw;
    height: 2.6vw;
    font-size: 1vw;
}

#sign_out {
    background-color: #DE3643;
    border-color: #CB2835;
    border-style: solid;
    border-width: 0.15vw;
    border-radius: 0.5vw;
    width: 11vw;
    height: 2.6vw;
    font-size: 1vw;
}

#sign_out:hover {
    background-color: #D3313E;
}

/* TODO */
#class {

}

.add_class {
    background-color: #36DEA3;
    border-color: #33CB95;
    border-style: solid;
    border-width: 0.15vw;
    border-radius: 0.5vw;
    width: 11vw;
    height: 2.6vw;
    font-size: 1vw;
}

.add_class:hover {
    background-color: #33CC97;
    cursor: pointer;
}