.TableView {
    background-color: white;
    border-radius: 1vw;
    box-shadow: 0.26vw 0.26vw #CCCFD1;
    padding: 0vw 1.8vw 0.8vw 1.8vw;
    width: 40%;
}

.weightTable {
    width: 100%;
}

#table-top {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

}

#table-header {
    font-weight: 100;
    margin: none;
}

#delete_button {
    background: none;
    border: none;
    cursor: pointer;
    color: #718CA5;
    transition: all 0.2s ease 0s;
}

#delete_button:hover {
    background-color: #DE3643;
    color: white;
    border-radius: 1000vw;
    
}

table {
    border-collapse: collapse;
    font-size: 0.9vw;
}

th {
    font-weight: 100;
}

#header-row {
    border: none;
}

#assignment-name-header {
    text-align: center;
}

#grade-header {
    text-align: center;
}

#add-new-assignment {
    background: none;
    border: none;
    color: #36DEA3;
    font-size: 1.1vw;
    transition: all 0.2s ease 0s;
}

.add-new-assignment-text {
    transition: all 0.2s ease 0s;
}

.add-new-assignment-text:hover {
    color:#2fe9a8;
}

#table-bottom {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

#weight-input-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#table-footer {
    margin-right: 1vw;
    font-weight: normal;
}

input {
    font-family: Poppins;
    border-color: #99B0C6;
    border-style: solid;
    border-width: 0.1vw;
    border-radius: 0.2vw;
    color: #718CA5;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.weight-input {
    width: 3ch;
    font-size: 1.2vw;
    padding: 0.1vw 0.2vw 0.1vw 0.6vw;
}

#weight-grade {
    font-weight: 500;
    background-color: #DED136;
    color: white;
    padding: 0.4vw 1.5vw 0.4vw 1.5vw;
    border-radius: 0.4vw;
}