.TableView {
    background-color: white;
    border-radius: 1vw;
    box-shadow: 0.26vw 0.26vw #CCCFD1;
    padding: 0vw 1.8vw 0.8vw 1.8vw;
    width: 40%;
    transition: all 0.2s ease-in-out;
    height: fit-content;
}

.weightTable {
    width: 100%;
    table-layout: fixed;
}

#table-top {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 0.75vw 0vw 0.75vw 0vw;

}

#table-header {
    font-weight: 100;
    margin: none;
}

.weightGroupName {
    font-weight: 100;
    border: none;
    font-size: 1vw;
    padding-left: 0.3vw;
}

.weightGroupName:hover {
    background-color: #E7EFF7;
}

#delete_button {
    background: none;
    border: none;
    cursor: pointer;
    color: #718CA5;
    transition: all 0.2s ease 0s;
}

#delete_button:hover {
    background-color: #DE3643;
    color: white;
    border-radius: 1000vw;
    
}

table {
    border-collapse: collapse;
    table-layout: fixed;
    font-size: 0.8vw;
}

th {
    font-weight: 100;
}

tr {
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#header-row {
    border: none;
}

#assignment-name-header {
    text-align: center;
}

#grade-header {
    text-align: center;
}

.assignment-field {
    width: 30%;
}

.points-earned-field {
    width: 25%;
}

.points-possible-field {
    width: 25%;
}

.grade-field {
    width: 18%;
}

.deleteAssignmentField {
    width: 2%;
}

.add-new-assignment {
    background: none;
    border: none;
    color: #36DEA3;
    font-size: 1.1vw;
    transition: all 0.2s ease 0s;
}

.add-new-assignment-text {
    transition: all 0.2s ease 0s;
}

.add-new-assignment-text:hover {
    color:#2fe9a8;
}

#table-bottom {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

#weight-input-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#table-footer {
    margin-right: 1vw;
    font-weight: normal;
}

input {
    font-family: Poppins;
    border-color: #99B0C6;
    border-style: solid;
    border-width: 0.1vw;
    border-radius: 0.2vw;
    color: #718CA5;
}

.new-assignment-input {
    width: 100%;
}

.new-points-earned-input {
    width: 50%;
}

.new-points-possible-input {
    width: 50%;
}

.weight-input {
    width: 3ch;
    font-size: 1vw;
    padding: 0.1vw 0.1vw 0.1vw 0.4vw;
}

#weight-grade {
    font-weight: 500;
    background-color: #DED136;
    color: white;
    padding: 0.4vw 1.5vw 0.4vw 1.5vw;
    border-radius: 0.4vw;
}