#container {
    text-align: center;
    margin-top: 1vw;
}

.tableViewContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 3vw;
}